apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  clusterIP: None
  ports:
    - name: db
      protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: postgres-slice
  labels:
    kubernetes.io/service-name: postgres
addressType: IPv4
ports:
  - name: db
    protocol: TCP
    port: 5432
endpoints:
  - addresses:
      - 65.109.226.54  # <-- replace with IP of the machine